@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    width: 100vw;
}
header {
    color: #ffffff;
    height: 60px;
    display: flex;
    justify-content: space-between;
    width: 100vw;
        background: #0d1d74;

        h2 {
        padding-left: 10%;
        font-family: Arial, Helvetica, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 15px;
        font-weight: 700;
        display: flex;
        align-items: center;

    }
    
    a {
        font-family: sans-serif;
        text-decoration: none;
    }
}


.nav {
    max-width: 1280px;
    height: 60px;
    margin-inline: 200px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburguer {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #fff;
    cursor: pointer;

}

.hamburguer::before,
.hamburguer::after {
    content: " ";
    display: block;
    width: 20px;
    height: 3px;
    background: #fff;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}

@media (max-width: 1050px) {
    .hamburguer {
        display: block;
        z-index: 1;
    }

   .nav-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100VW;
    height: 100Vh;
    background: rgb(16, 16, 66);
    clip-path: circle(100px at 90% -15%);
    transition: 0.5s ease-out;

    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0;
    pointer-events: none;
    }

    .nav-list a {
        font-size: 24px;
        opacity: 0;
    }

    .nav-list li:nth-child(1) a {
        transition: 0.5s 0.1s;
    }

     .nav-list li:nth-child(2) a {
        transition: 0.5s 0.3s;
    }

     .nav-list li:nth-child(3) a {
        transition: 0.5s 0.5s;
    }

    .nav-list li:nth-child(4) a {
        transition: 0.5s 0.7s;
    }

     .nav-list li:nth-child(5) a {
        transition: 0.5s 0.9s;
    }

     .nav-list li:nth-child(6) a {
        transition: 0.5s 1.1s;
    }

    /* Estilos Ativos*/

    .nav.active .nav-list {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }

    .nav.active .nav-list a {
        opacity: 1;
    }

       .nav.active .hamburguer {
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color: transparent;
    }

    .nav.active .hamburguer::before {
        transform: rotate(135deg);
    }

    .nav.active .hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}

.nav-list {
    display: flex;
    gap: 32px;
    list-style: none;

}

.nav-list a {
    font-size: 15px;
    color: #ffffff;
    padding-block: 16px;
    font-weight: 600;
}


 
/* section 1*/

.information {
    width: 100vw;
    height: 350px;
    background: #E2C044;
        display: flex;
        justify-content: space-between;
    }
        .text {
            width: 800px;
        }
    
        .meu-nome {
            font-size: 30px;
            color: #0d1d74;
    padding-top: 80px;
    padding-left: 40px;
}
@media (max-width: 748px) {
    .meu-nome {
        font-size: 25px;
    }
}
.information h4 {
    color: #fff;
    padding-top: 4px;
    padding-left: 40px;
    
}

.information  a {
    color: #fff;
    background: #0d1d74;
    text-decoration: none;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 10px 5px 1px 20px;
    display: flex;
    margin-top: 10px;
    margin-left: 40px;
    width: 100px;
    height: 25px;
    border-radius: 12px;
}
.image img {
    max-width: 20%;
    border-radius: 100px;
    margin-top: 20px;
    margin-left: 33%;
}

@media (max-width: 1000px) {
    .image {
        max-width: 70%;
    }
}